SpeechRecognition
pyttsx3
sounddevice
requests
transformers
google-cloud-texttospeech
huggingface_hub
Pillow
scipy
mss
torch
pydub
torchaudio
pygame
openai-whisper
PyAudio
numpy
selenium
pyautogui
opencv-python
bark
googlesearch-python
wikipedia-api
